<a href="https://colab.research.google.com/github/oma16/Hng/blob/master/Quizcode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [30]:

a= np.array([1,2,3,4,5,6])
b= np.array([13, 21, 34])
A_B=np.concatenate((a,b))
print(A_B)

[ 1  2  3  4  5  6 13 21 34]

In [31]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [34]:
data.groupby('fuel_type_code_pudl').first()

                                  record_id  ...  fuel_cost_per_mmbtu
fuel_type_code_pudl                          ...
coal                  f1_fuel_1994_12_1_0_7  ...                1.121
gas                  f1_fuel_1994_12_2_0_10  ...                2.570
nuclear               f1_fuel_1994_12_2_1_1  ...                0.450
oil                   f1_fuel_1994_12_6_0_2  ...                5.469
other                f1_fuel_1994_12_11_0_6  ...                2.335
waste                 f1_fuel_1994_12_9_0_3  ...                1.072

[6 rows x 10 columns]

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.pyplot as plot
%matplotlib inline

url='https://bit.ly/HDSC-StageOneDataset'
data = pd.read_csv(url,error_bad_lines=False)
data.describe(include="all")

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

                       record_id  ...  fuel_cost_per_mmbtu
count                      29523  ...         29523.000000
unique                     29523  ...                  NaN
top     f1_fuel_2016_12_159_3_11  ...                  NaN
freq                           1  ...                  NaN
mean                         NaN  ...            19.304354
std                          NaN  ...          2091.540939
min                          NaN  ...           -41.501000
25%                          NaN  ...             1.940000
50%                          NaN  ...             4.127000
75%                          NaN  ...             7.745000
max                          NaN  ...        359278.000000

[11 rows x 11 columns]

In [35]:
data.groupby('report_year')['report_year'].count()

report_year
1994    1235
1995    1201
1996    1088
1997    1094
1998    1107
1999    1050
2000    1373
2001    1356
2002    1205
2003    1211
2004    1192
2005    1269
2006    1243
2007    1264
2008    1228
2009    1222
2010    1261
2011    1240
2012    1243
2013    1199
2014    1171
2015    1093
2016    1034
2017     993
2018     951
Name: report_year, dtype: int64